// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.container {
    max-width: 1000px;
}

.index_title {
    margin:25px 0px;
    display: flex;
    justify-content: space-between;
}

.index_title h2 {
    font-size: 23px;
    font-weight: bold;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
}

.button_icon {
    margin-top: -4px;
    margin-right: 4px;
}

.footer {
    margin:25px 0px;
    display: flex;
    justify-content: space-between;
}

.Required::after {
    content: "*";
    color: #ff4949;
    font-size: 14px;
    margin-left: 4px;
}


.new_form {
    margin: auto;
    width: 700px;
}

.new_form .link {
    margin-top: 10px;
    text-decoration: none;
    display:block;
}

.new_form .link svg {
    vertical-align: text-bottom;
}

.register_form {
    margin-bottom: 20px;
}

.index_title svg {
    margin-top: -3px;
}

.register_form table td {
    margin-left: 50px;
}

.detail_table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2em;
}

.detail_table th,
.detail_table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.detail_table th {
    background-color: #f5f5f5;
    width: 160px;
}

.footer_button {
    margin: 0 0 0 500px;
}

.alert_position {
    margin-top: 18px;
}